<ion-view title="Bro With" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
         <div id="chatbox"></div>
     <form id='broSend'>
          <input ng-model="formdata.broText" id="broText" type="text" placeholder="">
          <a on-hold=brotextcalc() on-release="stopText()" id="brobutton" align='center' style="text-align:center;line-height:100px;width:100px;height:100px;border-radius:50px;align:center" class=" button button-dark  button-block ">Bro</a>
     </form>
    </ion-content>
</ion-view>
